*{
 padding: 0;
 box-sizing: border-box;
}



h2{
    font-size: 50px;
}
.container
{
    text-align: center;
}
.btn{
    color: white;
    background-color: blue;
    border: 2px solid white;
    border-radius: 4px;
}